# Allgemeine Einstellungen
BASE_DOMAIN=example.com
TRAEFIK_CERTRESOLVER=letsencrypt
TRAEFIK_NETWORK=traefik

# Service-spezifische Domains
NEO4J_SUBDOMAIN=neo4j
API_SUBDOMAIN=api
AUTH_SUBDOMAIN=auth
CLIENT_SUBDOMAIN=eam

# Neo4j-Konfiguration
NEO4J_USER=neo4j
NEO4J_PASSWORD=change_this_password
NEO4J_AUTH=${NEO4J_USER}/${NEO4J_PASSWORD}
NEO4J_PAGECACHE_MEMORY=1G
NEO4J_HEAP_INITIAL_SIZE=1G
NEO4J_HEAP_MAX_SIZE=2G
NEO4J_PORT=7474
NEO4J_BOLT_PORT=7687
NEO4J_EXTERNAL_PORT=7475
NEO4J_EXTERNAL_BOLT_PORT=7688

# Keycloak-Konfiguration
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_this_password
KEYCLOAK_INTERNAL_PORT=8080
KEYCLOAK_REALM=simple-eam
KEYCLOAK_CLIENT_ID_SERVER=eam-server
KEYCLOAK_CLIENT_ID_CLIENT=eam-client

# Keycloak-Datenbank
KC_DB=postgres
KC_DB_NAME=keycloak
KC_DB_USER=keycloak
KC_DB_PASSWORD=change_this_password

# GraphQL-Server
GRAPHQL_INTERNAL_PORT=4000
GRAPHQL_EXTERNAL_PORT=4500

# Client
CLIENT_PORT=3000

# Logo-Konfiguration
NEXT_PUBLIC_LOGO_PATH=/images/Simple-EAM-Logo.png
NEXT_PUBLIC_LOGO_NAME=Simple-EAM

# Theme-Konfiguration (dynamische Farben und Schriftarten)
NEXT_PUBLIC_THEME_PRIMARY_COLOR=#0066CC
NEXT_PUBLIC_THEME_SECONDARY_COLOR=#00AEEF
NEXT_PUBLIC_THEME_FONT_FAMILY="Roboto", "Helvetica", "Arial", sans-serif

# Alternative Theme-Konfiguration (Legacy-Namen, optional)
# NEXT_PUBLIC_PRIMARY_COLOR=#0066CC
# NEXT_PUBLIC_SECONDARY_COLOR=#00AEEF
# NEXT_PUBLIC_FONT_FAMILY="Roboto", "Helvetica", "Arial", sans-serif
